# yaml-language-server: $schema=https://raw.githubusercontent.com/camptocamp/github-app-geo-project/master/github_app_geo_project/module/changelog/schema.json

changelog:
  default-section: New feature
  create-labels: true

  sections:
    - name: Breaking changes
    - name: New feature
    - name: Fixed bugs
    - name: Documentation
    - name: Tests
    - name: Chore
    - name: Security fixes
    - name: Dependency update

  routing:
    # Label
    - section: Breaking changes
      condition:
        type: label
        value: Breaking changes
    - section: New feature
      condition:
        type: label
        value: New feature
    - section: Fixed bugs
      condition:
        type: label
        value: Fixed bugs
    - section: Documentation
      condition:
        type: label
        value: Documentation
    - section: Tests
      condition:
        type: label
        value: Tests
    - section: Chore
      condition:
        type: label
        value: Chore
    - section: Security fixes
      condition:
        type: label
        value: Security fixes
    - section: Dependency update
      condition:
        type: label
        value: Dependency update
    # Other
    - section: Documentation
      condition:
        type: files
        regex:
          - .*\.rst$
          - .*\.md$
          - .*\.rst\.[a-z0-9]{2,6}$
          - .*\.md\.[a-z0-9]{2,6}$
          - ^docs?/.*
    - section: Chore
      condition:
        type: files
        regex:
          - ^\.github/.*
          - ^ci/.*
    - section: Chore
      condition:
        type: title
        regex: ^CI updates$
    - section: Security fixes
      condition:
        type: branch
        regex: ^audit-.*
    - section: Security fixes
      condition:
        type: and
        conditions:
          - type: branch
            regex: ^dpkg-update/.*
          - type: author
            value: c2c-gid-bot-ci
    - section: Security fixes
      condition:
        type: branch
        regex: ^snyk-fix/.*
    - section: Dependency update
      condition:
        type: author
        value: renovate[bot]
