<style>
  .audit-severity-high {
    color: #d33;
    font-weight: bold;
  }
  .audit-severity-critical {
    color: #800;
    font-weight: bold;
  }
  .audit-fixed-in,
  .audit-upgradable,
  .audit-patchable {
    font-size: 0.9em;
    opacity: 0.8;
  }
</style>
{% for repo in repositories %}
<h2>{{ repo['repository'] }}</h2>
{% for type_ in repo['global_types'] %}
<p>{{ type_['title'] | markdown | safe }}</p>
{% endfor %}
<!---->
{% for branch in repo['branches'] %}
<h3>{{ branch['name'] }}</h3>
{% for type_ in branch['types'] %}
<p>{{ type_['title'] | markdown | safe }}</p>
{% endfor %}
<!---->
{% if branch['vulnerabilities'] %}
<h4>Vulnerabilities</h4>
{% for file_name, vulns in branch['vulnerabilities'].items() %}
<h5>{{ file_name }}</h5>
<ul>
  {% for vuln in vulns %}
  <li>{{ vuln.title | safe }}</li>
  {% endfor %}
</ul>
{% endfor %}
<!---->
{% endif %}
<!---->
{% endfor %}
<!---->
{% endfor %}
