<h2>Branches</h2>

<style>
  th,
  td {
    padding: 0 1em;
  }
  .dep-unsupported {
    background-color: var(--bs-danger);
  }
  .dep-supported {
    background-color: var(--bs-body-bg);
  }
</style>

<p><a href="{{ url }}">Sources</a>.</p>
{% for branch in branches %}
<!---->
{% set dependencies = dependencies_branches.by_branch[branch] %}
<h3>{{ branch }}</h3>
<p class="{{ dependencies.css_class }}">Supported: {{ dependencies.support.display }}</p>
{% if dependencies.forward %}
<h4>Internal dependencies</h4>
<table>
  <tr>
    <th>Dependency</th>
    <th>Datasource</th>
    <th>Version</th>
    <th>Supported</th>
  </tr>
  {% for dependency in dependencies.forward %}
  <tr>
    <td><a href="?repository={{ dependency.repo }}">{{ dependency.name }}</a></td>
    <td>{{ dependency.datasource }}</td>
    <td>{{ dependency.version }}</td>
    <td class="{{ dependency.css_class }}">{{ dependency.support.display }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
<!---->
{% if dependencies.reverse %}
<h4>Reverse dependencies</h4>
<table>
  <tr>
    <th>Dependency</th>
    <th>Version</th>
    <th>Supported</th>
  </tr>
  {% for dependency in dependencies.reverse %}
  <tr>
    <td><a href="?repository={{ dependency.repo }}">{{ dependency.name }}</a></td>
    <td>{{ dependency.version }}</td>
    <td class="{{ dependency.css_class }}">{{ dependency.support.display }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
<!---->
{% endfor %}

<h2>Data</h2>

<p>{{ data | sanitizer | safe }}</p>
