{% extends "base.html" %}
<!---->
{% block head_title %}{{ title }}{% endblock %}
<!---->
{% block head_styles %}
<!---->
.app-buttons-group { margin-bottom: 1.5rem; }
<!---->
{% endblock %}
<!---->
{% block content %}
<h1 class="bd-title">{{ title }}</h1>
{{ description | markdown }}
<!---->
{% if documentation_url %}
<p>
  <a href="{{ documentation_url }}" target="_blank" rel="noopener noreferrer">Documentation</a>
</p>
{% endif %}
<h2>Profiles</h2>
{% for profile_name, profile in profiles.items() %}
<div class="card my-3">
  <div class="card-header">
    {% if 'title' in profile %}
    <h3>{{ profile['title'] }} [{{ profile_name }}]</h3>
    {% else %}
    <h3>{{ profile_name }}</h3>
    {% endif %}
  </div>
  <div class="card-body">{{ profile['description'] | markdown }}</div>
</div>
{% endfor %}
<h2>Applications</h2>
{% for application in applications %}
<div>
  <h3>{{ application['title'] }} [{{ application['name'] }}]</h3>
  {{ application['description'] | markdown }}
  <!---->
  {% if application['github_app_url'] %}
  <div class="btn-group app-buttons-group">
    <a class="btn btn-primary" href="{{ application['github_app_url'] }}">Install</a>
    {% if application['github_app_admin_url'] %}
    <a class="btn btn-info" href="{{ application['github_app_admin_url'] }}">Admin</a>
    {% endif %}
  </div>
  <br />
  {% endif %}
  <!---->
  {% if application['errors'] %}
  <div class="alert alert-danger" role="alert">
    {% for error in application['errors'] %}
    <p>{{ error }}</p>
    {% endfor %}
  </div>
  {% endif %}
  <h4>Modules</h4>
  {% for module in application['modules'] %}
  <div class="card my-3">
    <div class="card-header">
      <h5>{{ module['title'] }} [{{ module['name'] }}]</h5>
    </div>
    <div class="card-body">
      {{ module['description'] | markdown }}
      <p>
        <a href="{{ module['documentation_url'] }}" target="_blank" rel="noopener noreferrer">Documentation</a
        >{{ ',' if module['has_transversal_dashboard'] else '' }} {% if module['has_transversal_dashboard'] %}
        <a href="{{ url_for('dashboard_route', module_name=module['name']) }}">Transversal dashboard</a>
        {% endif %}
      </p>
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
<!---->
{% endblock %}
