<!doctype html>
<html lang="en">
  <head>
    <title>GitHub Application: ${repository}</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="${request.static_url('/app/github_app_geo_project/static/favicon-32x32.png')}"
      referrerpolicy="no-referrer"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="${request.static_url('/app/github_app_geo_project/static/favicon-16x16.png')}"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
      integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      :root .tooltip {
        --bs-tooltip-max-width: 400px;
        --bs-tooltip-color: var(--bs-body-color);
        --bs-tooltip-bg: var(--bs-body-bg);
      }
      .tooltip {
        filter: contrast(80%) brightness(120%)
      }
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      h1 {
        /* Leave some space for the GitHub login button */
        margin-right: 20rem;
      }
      div.event.alert {
        padding: .13rem .4rem .2rem;
        margin: .3rem 0;
      }
      a[data-bs-toggle="tooltip"] {
        text-decoration: none;
      }
      div.alert-primary a[data-bs-toggle="tooltip"] {
        color: var(--bs-primary-text-emphasis);
      }
      div.alert-secondary a[data-bs-toggle="tooltip"] {
        color: var(--bs-secondary-text-emphasis);
      }
      div.alert-warning a[data-bs-toggle="tooltip"] {
        color: var(--bs-warning-text-emphasis);
      }
      div.alert-danger a[data-bs-toggle="tooltip"] {
        color: var(--bs-danger-text-emphasis);
      }
      /* pygments */
      ${styles|n}
    </style>
  </head>
  <body class="px-5 py-4">
    <script>
      /* For dark mode */
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.setAttribute('data-bs-theme', 'dark');
      }
    </script>

    <div style="position: absolute; right: 3rem; top: 2rem">
      %if not request.identity.is_auth:
      <a
        class="btn btn-primary"
        href="${request.route_url('c2c_github_login', _query={'came_from': request.current_route_url()})}"
        >Login with GitHub</a
      >
      %else:
      <p>
        Logged as: <a href="${request.identity.url}">${request.identity.name}</a>
        <a
          class="btn btn-outline-primary"
          style="vertical-align: baseline; margin-left: 0.5rem"
          href="${request.route_url('c2c_github_logout', _query={'came_from': request.current_route_url()})}"
          >Logout</a
        >
      </p>
      %endif
    </div>

    <h1 class="bd-title">Repository: ${repository}</h1>

    %for application, app_config in applications.items():
    <!---->
    %if 'issue_url' in app_config:
    <p>
      <a
        href="${app_config['issue_url']}"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-title="For application [${application}]"
        >Dashboard (GitHub issue)</a
      >
    </p>
    %else:
    <!---->
    %if app_config.get('issue_required'):
    <!-- warning -->
    <div class="alert alert-warning" role="alert">
      The issue looks to be missing, does the issue are activated on your project
    </div>
    %endif
    <!---->
    %endif
    <!---->
    %endfor
    <!---->
    %if error is not None:
    <div class="alert alert-danger" role="alert">${error}</div>
    %endif

    <h2>Last thread events</h2>
    %for job in jobs:
    <!---->
    %if job.status_enum.value == 'error':
    <div class="alert alert-danger event" role="alert">
      %else:
      <!---->
      %if job.status_enum.value in ['new', 'pending']:
      <div class="alert alert-primary event" role="alert">
        %else:
        <div class="alert alert-secondary event" role="alert">
          %endif
          <!---->
          %endif
          <!---->
          <a
            href="${request.current_route_url(_query={**request.params, 'status':job.status_enum.name})}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-title="Status"
            >[${job.status_enum.value}]</a
          >
          <a
            href="${request.current_route_url(_query={**request.params, 'module_event_name':job.module_event_name})}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-title="Event name"
            >${job.module_event_name}</a
          >
          <a
            href="${request.current_route_url(_query={**request.params, 'application':job.application})}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-title="Application"
            >${job.application}</a
          >:<b
            ><a
              href="${request.current_route_url(_query={**request.params, 'module':job.module})}"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="Module"
              >${job.module or '-'}</a
            ></b
          >
          (<a href="#" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Job id">${job.id}</a>)
          -
          <a
            href="#"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            data-bs-html="true"
            data-bs-title="${date_tooltip(job)}"
          >
            %if job.finished_at and job.started_at:
            <!---->
            ${job.finished_at - job.started_at|pprint_duration}</a
          >,
          <!---->
          %else:
          <!---->
          %if job.started_at:
          <!-- for Prettier -->
          %if False:
          <a>
            <!---->
            %endif
            <!---->
            started&nbsp;${job.started_at|pprint_date}</a
          >,
          <!---->
          %else:
          <!-- for Prettier -->
          %if False:
          <a>
            <!---->
            %endif
            <!---->
            created&nbsp;${job.created_at|pprint_date}</a
          >,
          <!---->
          %endif
          <!---->
          %endif
          <!---->
          %if job.log:
          <a href="${request.route_url('logs', id=job.id)}">Logs</a>
          %elif job.status_enum.value in ['new', 'pending']:
          <a href="${request.route_url('logs', id=job.id)}">Status</a>
          %endif
        </div>
        <!-- for Prettier -->
        %if False:
      </div>
    </div>
    %endif
    <!---->
    %endfor

    <h2>Last outputs</h2>
    %for o in output:
    <p><a href="${request.route_url('output', id=o[0])}">${o[1]}</a></p>
    %endfor

    <!---->
    <h2>Modules</h2>
    %for module in module_configuration:
    <div class="card my-3">
      <div class="card-header">
        <h3 class="card-title">${module['title']} [${module['name']}]</h3>
      </div>
      <div class="card-body">
        <p>${module['description']|markdown}</p>
        %if module['documentation_url']:
        <p><a href="${module['documentation_url']}">Documentation</a></p>
        %endif
        <h3>Configuration</h3>
        ${module['configuration']|n}
      </div>
    </div>
    %endfor

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"
      integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
      integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
      });
    </script>
  </body>
</html>
